body {
  background-color: lab(52.45% 10.1 3.8);
}

.container {
  max-width: 800px;
  display: block;
  margin: 80px auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
}

header {
  position: sticky;
  top: 0;
}

h1 {
  text-align: center;
  font-style: italic;
  color: #333;
  line-height: 1.5;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;

  font-variation-settings: "wdth" 100;
}
form {
  padding: 40px;
  display: flex;

  background-color: #d4c6c615;
  border-radius: 15px;
  justify-content: space-between;
}
#sad-poem-search {
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  box-shadow: 0 0 5px #333;
}
#sad-poem-submit {
  border-radius: 15px 20px;
  background-color: hsla(358, 10%, 52%, 0.8);
  border-color: none;
  padding: 20px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
#sad-poem-result {
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Tagesschrift", system-ui;
  text-align: center;
  border-radius: 15px;
  background-color: #d4c6c642;
}
.instructions {
  font-size: 14px;
  color: lab(52.45% 10.1 3.8);
  padding: 20px;
}
#sad-poem-result strong {
  color: lab(49.1% 58.57 35.03 / 0.39);
}
footer {
  font-size: 14px;
  text-align: center;
  color: hsla(0, 0%, 40%, 0.445);
  margin-top: 20px;
}
.poem-hidden {
  display: none;
}
